@import "~primeng/resources/themes/rhea/theme.css";
.form-container {
    padding: 40px;
    border-radius: 4px;
    box-shadow: 1px 0 0 0 #d2d2d2, -1px 0 0 0 #d2d2d2, 0 1px 0 0 #b6b6b6, 0 2px 0 0 #d2d2d2, 2px 0 0 0 #e6e6e6, -2px 0 0 0 #e6e6e6, 0 3px 0 0 #e6e6e6, 0 -1px 0 0 #e6e6e6;
    @media screen and (min-width: 320px) {
        width: 90%;
    }
    @media screen and (min-width: 768px) {
        width: 50%;
    }
    @media screen and (min-width: 1024px) {
        width: 40%;
    }        
    @media screen and (min-width: 1366px) {
        width: 26%;
    }
}